* {
    margin: 0;
    padding: 0;
}

.app-layout {
    .cp-header {
        background-color: rgb(255, 255, 255);
        margin-bottom: 10px;
        .header-logo {
            background-image: url(../../assets/img/logo.jpg);
            margin-top: 12px;
            height: 40px;
            width: 40px;
            background-size: cover;
            float: left;
            margin-right: 20px;
        }
        .header-links {
            .link-item {
				padding-left: 40px;
                a {
					font-size: 16px;
				}
            }
        }
        .header-userinfo {
            float: right;
            .drop-menu {
                letter-spacing: 4px;
                color: rgb(148, 148, 148);
                &:hover {
                    color: rgb(53, 53, 53);
                }
            }
        }
    }
}

@media screen and (max-width: 700px) {
    .app-layout {
        .cp-header {
            display: none;
        }
    }
}
